.displayNumbers {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    height: auto; 
    margin:50px;
}

.numberBar {
    position: relative;
    width: 50px;
    margin: 0 5px;
    background-color: #7fb5ee;
    max-height: 100px; 
}

.number__label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
}
