.displayNumbers {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    height: auto; 
    margin:50px;
}

.numberBar {
    position: relative;
    width: 50px;
    margin: 0 5px;
    background-color: #0510af;
    max-height: 100px; 
    margin-bottom: 30px;
}

.number__label {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
}
